h1 {
	background-color: blue;
	color: white;
}


body {
	margin: 0px;
	background-color: #F3F2EF;
}

.menu {
	font-family: arial;
	border-bottom: solid 5px;
	border-color: pink;
	height: 100px;
	box-shadow: 0px 2px lightgrey;
}

.menu img {
	position: relative;
	vertical-align: middle;
	background-color: blue;
}

.menu h2 {
	font-size: 40px;
	display: inline-block;
	position: relative;
	color: pink;
	text-shadow: 1px 1px lightgrey;
	vertical-align: middle;

}
